
* {
	outline: 1px solid red !important;
}

body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

header {
	margin-top: 40px;
}

h3 {
	font-size: 28px;
}

hr {
	height: 4px;
	background-color: #bcbbbb;
	color: #bcbbbb;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

/*p {
	text-align: center;
}*/

svg#logo {
	height: 11vw;
	width: 11vw;
}

header:hover svg#logo {
	-webkit-filter: drop-shadow(5px 5px 5px #ddd);
	filter: drop-shadow(5px 5px 5px #ddd);
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}
