
a {
	color: #747704;
}

body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

header {
	margin-top: 40px;
}

h3 {
	font-size: 28px;
}

hr {
	height: 4px;
	background-color: #bcbbbb;
	color: #bcbbbb;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

svg#logo {
	height: 11vw;
	width: 11vw;
	fill: #f8981c;
}

.navbar-nav > li > a {
	height: 50px;
	padding: 13px 8px 0 8px;
/*	padding-top: 13px;
	padding-bottom: 0;
	padding-left: 8px;
	padding-right: 8px;*/
}

.navbar {
	margin-bottom: 0;
	padding: 0;
	min-height: 50px;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}
